.Main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header {
      flex: 15%;
      background-color: #282c34;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      position: sticky;
  }
  
  .body {
      flex: 70%;
      width: 100%;
  }
  
  .fotter {
    flex: 15%;
    background-color: #282c34;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }